<?xml version="1.0"?>
<robot name="robot_mount" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

	<link name="world" />
  
	<joint name="world_joint" type="fixed">
		<parent link="world" />
		<child link = "base_link" />
		<origin xyz="0.04 0 1.3" rpy="0 1.57 0" />
	</joint>
</robot>
